extends layout

block content
  h1.mb-4 Remove Asset from #{portfolio.name}

  form(action=`/portfolios/${portfolio.id}/sell-asset` method="POST")
    .mb-3
      label.form-label(for="asset") Select Asset
      select.form-select(id="asset" name="asset_id" required)
        option(value="" disabled selected) -- Select an asset --
        each asset in assets
          option(value=asset.id) #{asset.name} (#{asset.ticker}) - Owned: #{asset.quantity}
    
    .mb-3
        label.form-label(for="quantity") Quantity
        input.form-control(type="number" id="quantity" name="quantity" min="1" placeholder="Enter quantity" required)

    .mb-3
        button.btn.btn-primary.float-end(type="submit") Remove Asset